html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	min-width: 100%;
}

.carousel-control {
	padding-top: 10%;
	padding-left: 10px;
	width: 2%;
}

iframe {
	padding: 10px;
}

img {
	padding: 10px;
}


div {
	width: 100%;
}

div.well {
	width: 160%;
	margin-bottom: 5%;
	position:relative;
	right: 25%;
	background-image: linear-gradient(to bottom, #ff0000 0, #f5f5f5 100%);

}



.container {
	margin-left: 15%;
}

#container-1 {
	padding-top: 100px;
}

.instructionContainer {
	width: 700px;
}

.disclaimer {
	margin: 0 auto;
	width: 50%;
	padding-bottom: 50px;
}

.instruction_image {
	padding: 0px;
}

.instructions {
	text-align: center;
}

.disclaimerTitle {
	margin: 0 auto;
	width: 50%;
}

div.twitchdiv{
	width:160%;
	position: relative;
	right: 25%;
	height: auto;
}

iframe.twitchIF {
	position:relative;
	top: 141px;
}

a.btn.btn-info {
	position:relative;
}

input.form-control.me-2{
	margin:0px;
}

img.YTLOGO {
	position:relative;
	right: 25%;
}

